*{
  font-family: 'Archivo Narrow', sans-serif;
  color: #898989;
  box-sizing:border-box;
  list-style:none;
}
.bloc-gauche{
  margin-top: 20px;
  float: left;
  border: 1px #898989 solid;
  padding: 20px;
}
.bloc-droit{
  margin-top: 20px;
  float: left;
}
.menu-bloc-droit{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;

}
.menu-bloc-droit div {
  font-size: 30px;
}
#photo{
  margin: 0 auto;
  margin-bottom: 20px;
  height: 100px;
  width: 100px;
  background-color: #E1BF7F;
  border: 1px #898989 solid;
}
.fiche-produit{
  border: 1px #898989 solid;
  margin-bottom: 30px;
  padding: 20px;
}
.photo-produit{
  margin: 0 auto;
  margin-bottom: 20px;
  height: 350px;
  width: 300px;
  background-color: #E1BF7F;
  border: 1px #898989 solid;
}
