*{
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
  color: #898989;
  box-sizing:border-box;
}
.en-tete{
  height: 100px;
  background-color: #7A242E;
}
.element-en-tete1{
  height: 80px;
  width: 80px;
  background-color: #C5A591;
  margin-top: 10px;
  float: left;
}
.element-en-tete-droit{
  display: flex;
  justify-content: space-around;
  float: right;
}
.element-en-tete2{
  height: 80px;
  width: 80px;
  background-color: #C5A591;
  margin-top: 10px;
  margin-left: 10px;
}

h1{
  font-size: 50px;
  font-weight: normal;
}
#erreurs{
color: red;
}
