*{
  font-family: 'Archivo Narrow', 'Arial';
  text-align: center;
  color: #898989;
  box-sizing:border-box;
}
/*contenu*/
/*formulaire 1*/
p{
  font-size: 50px;
  margin: 30px;
}
.titre-creation{
  padding-left: 81px;
}
form{
  float: left;
}
#submit{
  background-color: #E1BF7F;
  border-color: transparent;
  padding: 10px;
}
form{
  float:
}
#erreurs{
color: red;
}
/*formulaire 2*/

.connexion{
  margin: 0 auto;
}
