*{
  font-family: 'Archivo Narrow', 'Arial';
}
body{
  -webkit-background-size: cover;
  -moz-background-size: contain;
  -o-background-size: cover;
  background-size: cover;
  overflow:visible;;
  background-image: url('pageacc.png');
}
#slogan{
  margin-top: 70px;
}
h1{
  color: #E1BF7F;
  font-size: 120px;
  background-color: rgba(255,255,255,1);
  width: 60%;
}
.bloc{
  height: 15vw;
  width: 15vw;
  background-color:#E1BF7F;

}
#categories{
  display: flex;
  justify-content: space-around;

}
